@model List<Project56_new.Models.OrdHistory>


<table class="table">
    <thead>
        <tr>
            <th>
                Order NR
            </th>
            <th>
                Artikel
            </th>
            <th>
                Prijs per stuk
            </th>
            <th>
                Aantal gekocht
            </th>
            <th>
                Datum aangemaakt
            </th>

            <th>Status</th>
        </tr>
    </thead>
    <tbody>
   @for (var i = 0; i < Model.Count - 1 ; i++) 
   {
     
        int current = Model[i].ord_id;
        int next = Model[i + 1].ord_id;

        <tr>
            @if (current == next)
    {
        <td>
            @Html.DisplayFor(modelItem => Model[i].ord_id)
        </td>
}
else
{
        <td> > </td>

}
            <td>
                @Html.DisplayFor(modelItem => Model[i].itm_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].priced_payed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].qty_bought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].dt_created)
            </td>
            @if (current == next)
    {
       
        <td><span style="color:green;">Betaald</span></td>
      
}
else
{
        <td> </td>

}

        </tr>
        }
    </tbody>
    </table>
