@model Project56_new.Models.WishlistModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WishlistModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.itm_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.itm_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.test)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.test)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
