@model IEnumerable<Project56_new.Models.WishlistModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Verlanglijst:</h2>

<table class="table">

@if (ViewBag.model_for_view != null) {
     @foreach (var item in Model)
     {
        <tr>
            <td>
                <h4>@Html.DisplayFor(modelItem => item.description)</h4>
                @Html.DisplayFor(modelItem => item.itm_id)
            </td>
            <td>
                <h4>@Html.DisplayFor(modelItem => item.long_description)</h4>
            </td>
            <td>
                <img src="~/images/products/@Html.DisplayFor(modelItem => item.photo_url)" style="width:200px;height:100px;" />
            </td>
            <td>

                @Html.ActionLink("In winkelmand", "SaveItmInShoppingCart", "ShoppingCart",
                       routeValues: new
                       {
                           itm_id = item.itm_id
                       },
                         htmlAttributes: new { @class = "btn btn-success btn-large" })

                <a class="btn btn-danger" href='@Url.Action("DeleteFromWishList", "WishList", new { ordline_id = item.ordline_id })'>X</a>
                @ViewBag.ErrorMessage
            </td>
        </tr>
      }

}
else
{
    <h4 style="color: rgba(158, 1, 1, 0.9);">Uw verlanglijst is leeg</h4>
}

</table>
