@model Project56_new.Models.Itms

@{
    ViewData["Title"] = "View";
}
<h2>Product Details</h2>
<h4>Geselecteerde product: @Html.DisplayFor(model => model.description)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <table>
           <tr>
               <td><h4>Product naam: </h4> </td>
               <td>@Html.DisplayFor(model => model.description)</td>
           </tr>
            <tr>
                <td><h4>Omschrijving: </h4> </td>
                <td>@Html.DisplayFor(model => model.long_description)</td>
            </tr>
            <tr>
                <td><h4>Prijs: </h4> </td>
                <td style="color:darkgreen;">&euro; @Html.DisplayFor(model => model.price),-</td>
            </tr>
            <tr>
                <td><h4>Aantal op voorraad: </h4> </td>
                <td style="color:darkgreen;">@Html.DisplayFor(model => model.itm_quantity)</td>
            </tr>
            <tr>
                <td><img src="http://www.zonnebrillen.com/media/catalog/product/cache/1/small_image/295x177/9df78eab33525d08d6e5fb8d27136e95/0/r/0rb4165__601_8g.jpg" alt="test"></td>
                <!--<td><img src="@Html.DisplayFor(model => model.photo_url)"></td> -->
            </tr>

        </table>

    </div>
</div>
<div>
    @Html.ActionLink("Terug", "Index", "Home", null, new { @class = "btn btn-default btn-large" })
    @Html.ActionLink("Toevoegen aan winkelmand",
                      "SaveItmInShoppingCart",
                      "ShoppingCart",
                      routeValues: new
                      {
                          itm_id = Model.id
                      },
                        htmlAttributes :   new { @class = "btn btn-success btn-large" })
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
