@model Project56_new.Models.Itms

@{
    ViewData["Title"] = "Details";
}


<div id="center-content-outer" style="width:100%">
    <div id="center-content-inner">
        <h2>Details</h2>


        <div>
            <h4>Itms</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.long_description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.long_description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.category_id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.category_id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsSales)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsSales)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.photo_url)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.photo_url)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.l_show)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.l_show)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.dt_created)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.dt_created)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.dt_modified)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.dt_modified)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-info">Edit</a>
            @Html.ActionLink("Terug", "Index", "Itms", null, new { @class = "btn btn-default btn-large" })
        </div>
</div>
</div>