﻿
@model IEnumerable<Project56_new.Models.Itms>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="btn btn-success" asp-action="Create">Nieuw product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.long_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>@Html.DisplayNameFor(model => model.itm_quantity)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.long_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itm_quantity)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Wijzingen</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">X</a>
                </td>
            </tr>
        }
    </tbody>
</table>

