@model IEnumerable<Project56_new.Models.Itms>

@{
    ViewData["Title"] = "Home Page";
}

@*<@Html.DisplayFor(modelItem => item.description)*@

<div id="page-wrapper" class="container-fluid">
    @* TODO : Need to fix passing more parameters and build a proper query.*@
    <form asp-action="Index" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-2">
                        <h2>Filter</h2>
                        <div class="form-group">
                            <label>Product naam</label>
                            <input class="form-control" name="search" placeholder="Zoekproducten." value="@ViewData["currentFilter"]">
                        </div>
                        <div class="form-group">
                            <label>Categorie</label>
                            <select class="form-control" name="glass_type">
                                <option>Alle Brillen</option>
                                <option>Sterkte Brillen</option>
                                <option>Zonne Brillen</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Maximale Prijs</label>
                            <input class="form-control" name="maxPrice" type="number" max="999" min="1">
                        </div>
                        <div class="form-group">
                            <label><input class="form-control" name="onsale" type="checkbox"> Uitverkoop </label>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Zoeken</button>
                            <button type="reset" class="btn btn-primary">Herstel filter</button>
                        </div>
                    </div>
                    <!-- Hieronder starten met producten asah-->
                    <div class="col-xs-10">
                        <h2>Sales</h2>
                        <div id="myCarousel" class="carousel slide" data-interval="false">
                            <!-- Indicators data-ride="carousel" -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                               @{ 
                                   int page_number =0;
                                   bool nextRow = false;
                                   if (nextRow)
                                   {

                                <div class="item" id="item_@page_number">
                                    <h2>Test</h2>
                                    sadsadf
                                </div>
                                   }
                                <div class="item active" id="item_@page_number">
                                    
                                    @{int countItms = 0;
                                       
                                        int page_index = 0;

                                    }
                                    
                                    @foreach (var item in Model)
                                    {
                                        @if (countItms == 3)
                                        {
                                            nextRow = true;
                                            page_number = page_number + 1;                      

                                        }
                                        if (item.IsSales == 1)
                                        {
                                            <!-- START SALE PRODUCT-->
                                            <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 sale-item" id="col_@page_number">
                                                <span class="sale">Sale!</span>
                                                <div class="sale-img-outer">
                                                    @if (item.itm_quantity == 0)
                                                    {
                                                        <img class="sale-img-inner" src="~/images/products/out-of-stock.png">
                                                    }
                                                    else
                                                    {
                                                        <img class="sale-img-inner" src="~/images/products/@Html.DisplayFor(modelItem => item.photo_url)">
                                                    }
                                                </div>
                                                <div class="sale-specs">
                                                    <div class="sale-title"><h3>@Html.DisplayFor(modelItem => item.description)</h3></div>
                                                    <div class="sale-price"><h3>&euro; @Html.DisplayFor(modelItem => item.price)-</h3></div>
                                                </div>
                                                <div class="sale-description">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelItem => item.long_description)
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <a class="btn btn-primary" href="/ProductDetails/View/@Html.DisplayFor(modelItem => item.id)">Lees meer &raquo;</a>
                                                </p>

                                                @if (item.itm_quantity != 0)
                                                {
                                                    @Html.ActionLink("Toevoegen aan winkelmand", "SaveItmInShoppingCart", "ShoppingCart",
routeValues: new
{
    itm_id = item.id
},
htmlAttributes: new { @class = "btn btn-success btn-large" })
                                                }
                                                else
                                                {
                                                    <p><a class="btn btn-info" href="home/contact">Contact &raquo;</a></p>
                                                }

                                               

                                                <a href="@Url.Action("addWishList", "WishList", new { itm_id = item.id })">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                          
                                            </div>
                                            <!-- END SALE PRODUCT-->
                                        }
                                        if (item.IsSales == -1)
                                        {
                                        <!-- START REGULAR PRODUCT-->
                                            <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 sale-item" id="col_@page_number">
                                                <span class="sale">HOT!</span>
                                                <div class="sale-img-outer">
                                                    @if (item.itm_quantity == 0)
                                                    {
                                                        <img class="sale-img-inner" src="~/images/products/out-of-stock.png">
                                                    }
                                                    else
                                                    {
                                                        <img class="sale-img-inner" src="~/images/products/@Html.DisplayFor(modelItem => item.photo_url)">
                                                    }
                                                </div>
                                                <div class="sale-specs">
                                                    <div class="sale-title"><h3>@Html.DisplayFor(modelItem => item.description)</h3></div>
                                                    <div class="sale-price"><h3>&euro; @Html.DisplayFor(modelItem => item.price)-</h3></div>
                                                </div>
                                                <div class="sale-description">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            @Html.DisplayFor(modelItem => item.long_description)
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <a class="btn btn-primary" href="/ProductDetails/View/@Html.DisplayFor(modelItem => item.id)">Lees meer &raquo;</a>
                                                </p>

                                                @if (item.itm_quantity != 0)
                                                {
                                                    @Html.ActionLink("Toevoegen aan winkelmand", "SaveItmInShoppingCart", "ShoppingCart",
routeValues: new
{
    itm_id = item.id
},
htmlAttributes: new { @class = "btn btn-success btn-large" })
                                                }
                                                else
                                                {
                                                    <p><a class="btn btn-info" href="home/contact">Contact &raquo;</a></p>
                                                }

                                                @if (item.itm_quantity != 0)
                                                {
                                                <a href="@Url.Action("addWishList", "WishList", new { itm_id = item.id })">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                }

                                            </div>

                                            page_number = page_number + 1;
                                        }

                                        if (page_index == 3)
                                        {
                                        <!-- Left and right controls -->
                                            <a class="left carousel-control" href="#myCarousel" data-slide="prev" onclick="SliderPagination(@page_number , 'prev')">
                                                <span class="glyphicon glyphicon-chevron-left" id="nextrow"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel" data-slide="next" onclick="SliderPagination(@page_number , 'next')">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                            </a>

                                            page_index = 0;
                                        }
                                        page_index++;

                                    }
                                    <div class="col-md-12">total:<span>@countItms</span></div>
                                    <div id="page_index + @page_number"></div>
                                </div>
                              
                                  


                                   

                            }
                                 
                            </div>

                           
                        </div>

   
                    </div>
                </div> <!-- End row -->
            </div>
        </div>
    </form>
</div> <!-- /#wrapper -->

    
