@model IEnumerable<Project56_new.Models.Itms>

@{
    ViewData["Title"] = "Home";
}

<div id="page-wrapper" class="container-fluid">
    <!-- Main Slider -->
    <div class="row">
        <div class="col-md-12 nopadding hidden-xs">
            <div id="myCarousel" class="carousel slide mainSlider" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="img-slide-1"></div>
                        <div class="container">
                            <div class="carousel-caption caption-slide-1">
                                <h1>BDH Studio</h1>
                                <p>Bringing you the finest glasses!</p>
                                <p><a class="btn btn-lg btn-primary" href="/Account/Register" role="button">Create your own account</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://lorempixel.com/1200/400/people" style="width:100%" data-src="" alt="Second    slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Slide 2</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae egestas purus. </p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://lorempixel.com/1200/400/abstract" style="width:100%" data-src="" alt="Third slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Slide 3</h1>
                                <p>Donec sit amet mi imperdiet mauris viverra accumsan ut at libero.</p>
                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control mainSlider" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control mainSlider" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-36251023-1']);
                _gaq.push(['_setDomainName', 'jqueryscript.net']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>

        </div>
    </div>

            @* TODO : Need to fix passing more parameters and build a proper query.*@
            <form asp-action="Index" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="products row">
                            <div class="col-xs-2">
                                <h2>Filter</h2>
                                <div class="form-group">
                                    <label>Product naam</label>
                                    <input class="form-control" name="search" placeholder="Rayban" value="@ViewData["currentFilter"]">
                                </div>
                                <div class="form-group">
                                    <label>Categorie</label>
                                    <select class="form-control" name="glass_type">
                                        <option>Alle Brillen</option>
                                        <option>Sterkte Brillen</option>
                                        <option>Zonne Brillen</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Maximale Prijs</label>
                                    <input class="form-control" name="maxPrice" type="number" max="999" min="1">
                                </div>
                                <div class="form-group">
                                    <label><input class="form-control" name="onsale" type="checkbox"> Uitverkoop </label>
                                </div>
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary">Zoeken</button>
                                    <button type="reset" class="btn btn-primary">Herstel filter</button>
                                </div>
                                <div class="col-xs-12 campaignholder">
                                    <img style="max-width:250px;" src="~/images/BDH-Campaign.jpg"/>
                                </div>
                            </div>
                            
                            <!-- Hieronder starten met producten asah-->
                            <div class="col-md-10">
                                <h2>Sales</h2>

                                                @foreach (var item in Model)
                                                {
                                                    if (item.IsSales == 1)
                                                    {
                                            <!-- START SALE PRODUCT-->
                                                        <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 sale-item">
                                                            <span class="sale">Sale!</span>
                                                            <div class="sale-img-outer">
                                                                @if (item.itm_quantity == 0)
                                                                {
                                                                    <img class="sale-img-inner" src="~/images/products/out-of-stock.png">
                                                                }
                                                                else
                                                                {
                                                                    <img class="sale-img-inner" src="~/images/products/@Html.DisplayFor(modelItem => item.photo_url)">
                                                                }
                                                            </div>
                                                            <div class="sale-specs">
                                                                <div class="sale-title"><h3>@Html.DisplayFor(modelItem => item.description)</h3></div>
                                                                <div class="sale-price"><h3>&euro; @Html.DisplayFor(modelItem => item.price)-</h3></div>
                                                            </div>
                                                            <div class="sale-description">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        @Html.DisplayFor(modelItem => item.long_description)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                <a class="btn btn-primary" href="/ProductDetails/View/@Html.DisplayFor(modelItem => item.id)">Lees meer &raquo;</a>
                                                            </p>

                                                            @if (item.itm_quantity != 0)
                                                            {
                                                                @Html.ActionLink("In winkelmand", "SaveItmInShoppingCart", "ShoppingCart",
                                                                routeValues: new
                                                                {
                                                                    itm_id = item.id
                                                                },
                                                                htmlAttributes: new { @class = "btn btn-success btn-large" })
                                                            }
                                                            else
                                                            {
                                                                <p><a class="btn btn-info" href="home/contact">Contact &raquo;</a></p>
                                                            }



                                                            @if (item.itm_quantity != 0)
                                                            {
                                                                <a href="@Url.Action("addWishList", "WishList", new { itm_id = item.id })">
                                                                    <i class="fa fa-star"></i>
                                                                </a>
                                                            }

                                                        </div>
                                            <!-- END SALE PRODUCT-->
                                                    }
                                                    if (item.IsSales == -1)
                                                    {
                                                    <!-- START REGULAR PRODUCT-->
                                                        <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3 normal-item">
                                                            <div class="normal-img-outer">
                                                                @if (item.itm_quantity == 0)
                                                                {
                                                                    <img class="normal-img-inner" src="~/images/products/out-of-stock.png">
                                                                }
                                                                else
                                                                {
                                                                    <img class="normal-img-inner" src="~/images/products/@Html.DisplayFor(modelItem => item.photo_url)">
                                                                }
                                                            </div>
                                                            <div class="normal-specs">
                                                                <div class="normal-title"><h3>@Html.DisplayFor(modelItem => item.description)</h3></div>
                                                                <div class="normal-price"><h3>&euro; @Html.DisplayFor(modelItem => item.price)-</h3></div>
                                                            </div>
                                                            <div class="normal-description">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        @Html.DisplayFor(modelItem => item.long_description)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                <a class="btn btn-primary" href="/ProductDetails/View/@Html.DisplayFor(modelItem => item.id)">Lees meer &raquo;</a>
                                                            </p>

                                                            @if (item.itm_quantity != 0)
                                                            {
                                                                @Html.ActionLink("In winkelmand", "SaveItmInShoppingCart", "ShoppingCart",
                                                                routeValues: new
                                                                {
                                                                    itm_id = item.id
                                                                },
                                                                htmlAttributes: new { @class = "btn btn-success btn-large" })
                                                            }
                                                            else
                                                            {
                                                                <p><a class="btn btn-info" href="home/contact">Contact &raquo;</a></p>
                                                            }

                                                            @if (item.itm_quantity != 0)
                                                            {
                                                                <a href="@Url.Action("addWishList", "WishList", new { itm_id = item.id })">
                                                                    <i class="fa fa-star"></i>
                                                                </a>
                                                            }

                                                        </div>

                                                    
                                                    }

                                        }

                                    </div>


                                </div>
                            </div>
                        </div> <!-- End row -->
                        <div class="row g-brands-header">
                            <div class="title_wrapper">
                                <h2 style="text-align:center;">We deliver your favorite brands!</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12"><a href="http://www.dolcegabbana.com/eyewear/" target="_blank"><img src="~/images/brands/D&G.png" class="img-responsive center-block g-brands"></a></div>
                            <div class="col-md-3 col-xs-12"><a href="http://www.oakley.com/en/mens/prescription-eyewear/category/m12" target="_blank"><img src="~/images/brands/Oakley.png" class="img-responsive center-block g-brands"></a></div>
                            <div class="col-md-3 col-xs-12"><a href="http://www.carreraworld.com/" target="_blank"><img src="~/images/brands/Carrera.png" class="img-responsive center-block g-brands"></a></div>
                            <div class="col-md-3 col-xs-12"><a href="https://www.ray-ban.com/" target="_blank"><img src="~/images/brands/Rayban.png" class="img-responsive center-block g-brands"></a></div>
                        </div>
            </form>
        </div> <!-- /#wrapper -->
